openapi: 3.1.0
info:
  title: Legion Platform API
  version: 3.0.0
servers:
  - url: https://us-gov.legion.picogrid.com
    description: US Government Production API
  - url: https://legion-staging.com
    description: Staging API
  - url: https://legion-demo.com
    description: Demo API
paths:
  /v3/.well-known/oauth-authorization-server:
    get:
      summary: Get OAuth 2.0 Authorization Server Metadata
      description: Returns OAuth 2.0 authorization server metadata as defined in RFC 8414 by proxying to Keycloak's well-known endpoint
      tags:
        - Auth
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                example:
                  authorization_endpoint: https://auth.legion.com/realms/legion/protocol/openid-connect/auth
                  code_challenge_methods_supported:
                    - plain
                    - S256
                  grant_types_supported:
                    - authorization_code
                    - refresh_token
                    - client_credentials
                  introspection_endpoint: https://auth.legion.com/realms/legion/protocol/openid-connect/token/introspect
                  issuer: https://auth.legion.com/realms/legion
                  jwks_uri: https://auth.legion.com/realms/legion/protocol/openid-connect/certs
                  response_types_supported:
                    - code
                    - id_token
                    - token id_token
                  revocation_endpoint: https://auth.legion.com/realms/legion/protocol/openid-connect/revoke
                  scopes_supported:
                    - openid
                    - profile
                    - email
                    - offline_access
                  token_endpoint: https://auth.legion.com/realms/legion/protocol/openid-connect/token
                properties:
                  authorization_endpoint:
                    example: https://auth.legion.com/realms/legion/protocol/openid-connect/auth
                    type: string
                  code_challenge_methods_supported:
                    example:
                      - plain
                      - S256
                    items:
                      type: string
                    type: array
                  device_authorization_endpoint:
                    example: https://auth.legion.com/realms/legion/protocol/openid-connect/auth/device
                    type: string
                  grant_types_supported:
                    example:
                      - authorization_code
                      - implicit
                      - refresh_token
                      - password
                      - client_credentials
                      - urn:ietf:params:oauth:grant-type:device_code
                    items:
                      type: string
                    type: array
                  introspection_endpoint:
                    example: https://auth.legion.com/realms/legion/protocol/openid-connect/token/introspect
                    type: string
                  issuer:
                    example: https://auth.legion.com/realms/legion
                    type: string
                  jwks_uri:
                    example: https://auth.legion.com/realms/legion/protocol/openid-connect/certs
                    type: string
                  registration_endpoint:
                    example: https://auth.legion.com/realms/legion/clients-registrations/openid-connect
                    type: string
                  request_parameter_supported:
                    example: true
                    type: boolean
                  request_uri_parameter_supported:
                    example: true
                    type: boolean
                  require_request_uri_registration:
                    example: true
                    type: boolean
                  response_modes_supported:
                    example:
                      - query
                      - fragment
                      - form_post
                    items:
                      type: string
                    type: array
                  response_types_supported:
                    example:
                      - code
                      - id_token
                      - token id_token
                      - code id_token
                      - code token
                      - code token id_token
                    items:
                      type: string
                    type: array
                  revocation_endpoint:
                    example: https://auth.legion.com/realms/legion/protocol/openid-connect/revoke
                    type: string
                  scopes_supported:
                    example:
                      - openid
                      - profile
                      - email
                      - offline_access
                    items:
                      type: string
                    type: array
                  token_endpoint:
                    example: https://auth.legion.com/realms/legion/protocol/openid-connect/token
                    type: string
                  token_endpoint_auth_methods_supported:
                    example:
                      - client_secret_basic
                      - client_secret_post
                      - client_secret_jwt
                      - private_key_jwt
                    items:
                      type: string
                    type: array
                required:
                  - issuer
                  - authorization_endpoint
                  - token_endpoint
                  - jwks_uri
                  - response_types_supported
                type: object
              example:
                authorization_endpoint: https://auth.legion.com/realms/legion/protocol/openid-connect/auth
                code_challenge_methods_supported:
                  - plain
                  - S256
                grant_types_supported:
                  - authorization_code
                  - refresh_token
                  - client_credentials
                introspection_endpoint: https://auth.legion.com/realms/legion/protocol/openid-connect/token/introspect
                issuer: https://auth.legion.com/realms/legion
                jwks_uri: https://auth.legion.com/realms/legion/protocol/openid-connect/certs
                response_types_supported:
                  - code
                  - id_token
                  - token id_token
                revocation_endpoint: https://auth.legion.com/realms/legion/protocol/openid-connect/revoke
                scopes_supported:
                  - openid
                  - profile
                  - email
                  - offline_access
                token_endpoint: https://auth.legion.com/realms/legion/protocol/openid-connect/token
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 400
                    type: number
                  details:
                    example:
                      - Field: organization_id
                        Issue: must be a valid UUID format
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: Request cannot be processed due to invalid input
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: req_2J9K8L7M6N5P4Q3R
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 401
                    type: number
                  details:
                    example:
                      - Field: authorization_header
                        Issue: Bearer token is expired or malformed
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: Authentication credentials are missing or invalid
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: req_2J9K8L7M6N5P4Q3R
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 403
                    type: number
                  details:
                    example:
                      - Field: required_scope
                        Issue: requires 'orion:settings:write' scope, but token only has 'orion:settings:read'
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: 'Access denied: insufficient permissions for this resource'
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: req_2J9K8L7M6N5P4Q3R
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 404
                    type: number
                  details:
                    example:
                      - Field: organization_id
                        Issue: organization with ID 'a1b2c3d4-e5f6-7890-abcd-ef1234567890' not found
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: The requested resource could not be found
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: req_2J9K8L7M6N5P4Q3R
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  category:
                    description: The category of the error
                    example: server_error
                    type: string
                  code:
                    description: The HTTP status code
                    example: "500"
                    type: number
                  details:
                    description: Additional details about the error
                    items:
                      properties:
                        field:
                          description: The field that caused the error
                          example: field_name
                          type: string
                        issue:
                          description: The specific issue with the field
                          example: Field validation issue
                          type: string
                      type: object
                    type: array
                  message:
                    description: A human-readable error message
                    example: Internal Server Error
                    type: string
                  status:
                    description: The status of the response, always 'error' for error responses
                    example: error
                    type: string
                  timestamp:
                    description: The timestamp when the error occurred
                    example: "2024-03-15T10:30:00Z"
                    format: date-time
                    type: string
                  trace_id:
                    description: A unique identifier for tracing the error
                    example: b7c5e4d3-a2b1-4f0e-8d9c-1a2b3c4d5e6f
                    format: uuid
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 500
                    type: number
                  details:
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: External service integration failed
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: b7c5e4d3-a2b1-4f0e-8d9c-1a2b3c4d5e6f
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
  /v3/auth/providers/keycloak/register:
    post:
      summary: Register with Keycloak
      description: Registers a new user account using Keycloak authentication provider
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              example:
                first_name: John
                id_token: eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJFRXB2UXpvSzVhczNlZVE2RVR1aW1QTkpnYzQyWEpmRVgwbDZEbHFzdUZnIn0...
                last_name: Doe
              properties:
                first_name:
                  example: John
                  type: string
                id_token:
                  example: eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJFRXB2UXpvSzVhczNlZVE2RVR1aW1QTkpnYzQyWEpmRVgwbDZEbHFzdUZnIn0...
                  type: string
                last_name:
                  example: Doe
                  type: string
              required:
                - first_name
                - last_name
                - id_token
              type: object
            example:
              first_name: John
              id_token: eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJFRXB2UXpvSzVhczNlZVE2RVR1aW1QTkpnYzQyWEpmRVgwbDZEbHFzdUZnIn0...
              last_name: Doe
      responses:
        "201":
          description: Resource created successfully
          content:
            application/json:
              schema:
                example:
                  created_at: "2023-12-15T14:30:00Z"
                  email: user@picogrid.com
                  first_name: John
                  id: f47ac10b-58cc-4372-a567-0e02b2c3d479
                  last_name: Doe
                  updated_at: "2023-12-15T14:30:00Z"
                  user_role: STANDARD
                properties:
                  created_at:
                    example: "2024-02-16T21:45:33Z"
                    pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(\.\d+)?(Z|[+-]\d{2}:\d{2})$
                    type: string
                  email:
                    example: user@picogrid.com
                    format: email
                    type: string
                  first_name:
                    example: John
                    type: string
                  id:
                    example: f47ac10b-58cc-4372-a567-0e02b2c3d479
                    format: uuid
                    type: string
                  last_name:
                    example: Doe
                    type: string
                  updated_at:
                    example: "2024-02-16T21:45:33Z"
                    pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(\.\d+)?(Z|[+-]\d{2}:\d{2})$
                    type: string
                  user_role:
                    example: STANDARD
                    pattern: ^(STANDARD|GLOBAL_ADMIN)$
                    type: string
                required:
                  - id
                  - email
                  - first_name
                  - last_name
                  - user_role
                  - created_at
                  - updated_at
                type: object
              example:
                created_at: "2023-12-15T14:30:00Z"
                email: user@picogrid.com
                first_name: John
                id: f47ac10b-58cc-4372-a567-0e02b2c3d479
                last_name: Doe
                updated_at: "2023-12-15T14:30:00Z"
                user_role: STANDARD
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 400
                    type: number
                  details:
                    example:
                      - Field: organization_id
                        Issue: must be a valid UUID format
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: Request cannot be processed due to invalid input
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: req_2J9K8L7M6N5P4Q3R
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 401
                    type: number
                  details:
                    example:
                      - Field: authorization_header
                        Issue: Bearer token is expired or malformed
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: Authentication credentials are missing or invalid
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: req_2J9K8L7M6N5P4Q3R
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 403
                    type: number
                  details:
                    example:
                      - Field: required_scope
                        Issue: requires 'orion:settings:write' scope, but token only has 'orion:settings:read'
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: 'Access denied: insufficient permissions for this resource'
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: req_2J9K8L7M6N5P4Q3R
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 409
                    type: number
                  details:
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: Request conflicts with current state of the resource
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: req_2J9K8L7M6N5P4Q3R
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 422
                    type: number
                  details:
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: Request data is well-formed but violates business rules
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: req_2J9K8L7M6N5P4Q3R
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  category:
                    description: The category of the error
                    example: server_error
                    type: string
                  code:
                    description: The HTTP status code
                    example: "500"
                    type: number
                  details:
                    description: Additional details about the error
                    items:
                      properties:
                        field:
                          description: The field that caused the error
                          example: field_name
                          type: string
                        issue:
                          description: The specific issue with the field
                          example: Field validation issue
                          type: string
                      type: object
                    type: array
                  message:
                    description: A human-readable error message
                    example: Internal Server Error
                    type: string
                  status:
                    description: The status of the response, always 'error' for error responses
                    example: error
                    type: string
                  timestamp:
                    description: The timestamp when the error occurred
                    example: "2024-03-15T10:30:00Z"
                    format: date-time
                    type: string
                  trace_id:
                    description: A unique identifier for tracing the error
                    example: b7c5e4d3-a2b1-4f0e-8d9c-1a2b3c4d5e6f
                    format: uuid
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
  /v3/authorization/auth/mediamtx:
    post:
      summary: MediaMTX Authentication
      description: Authenticates MediaMTX streaming requests using JWT tokens
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              example:
                action: publish
                id: test-id
                ip: 192.168.1.100
                password: ""
                path: orgId/entityId/streamName
                protocol: rtsp
                query: ?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                user: testuser
              properties:
                action:
                  example: publish
                  type: string
                id:
                  example: test-id
                  type: string
                ip:
                  example: 192.168.1.100
                  type: string
                password:
                  example: ""
                  type: string
                path:
                  example: orgId/entityId/streamName
                  type: string
                protocol:
                  example: rtsp
                  type: string
                query:
                  example: ?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                  type: string
                token:
                  example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                  type: string
                user:
                  example: testuser
                  type: string
              type: object
            example:
              action: publish
              id: test-id
              ip: 192.168.1.100
              password: ""
              path: orgId/entityId/streamName
              protocol: rtsp
              query: ?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
              token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
              user: testuser
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 400
                    type: number
                  details:
                    example:
                      - Field: organization_id
                        Issue: must be a valid UUID format
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: Request cannot be processed due to invalid input
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: req_2J9K8L7M6N5P4Q3R
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 401
                    type: number
                  details:
                    example:
                      - Field: authorization_header
                        Issue: Bearer token is expired or malformed
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: Authentication credentials are missing or invalid
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: req_2J9K8L7M6N5P4Q3R
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 403
                    type: number
                  details:
                    example:
                      - Field: required_scope
                        Issue: requires 'orion:settings:write' scope, but token only has 'orion:settings:read'
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: 'Access denied: insufficient permissions for this resource'
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: req_2J9K8L7M6N5P4Q3R
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 404
                    type: number
                  details:
                    example:
                      - Field: organization_id
                        Issue: organization with ID 'a1b2c3d4-e5f6-7890-abcd-ef1234567890' not found
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: The requested resource could not be found
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: req_2J9K8L7M6N5P4Q3R
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  category:
                    description: The category of the error
                    example: server_error
                    type: string
                  code:
                    description: The HTTP status code
                    example: "500"
                    type: number
                  details:
                    description: Additional details about the error
                    items:
                      properties:
                        field:
                          description: The field that caused the error
                          example: field_name
                          type: string
                        issue:
                          description: The specific issue with the field
                          example: Field validation issue
                          type: string
                      type: object
                    type: array
                  message:
                    description: A human-readable error message
                    example: Internal Server Error
                    type: string
                  status:
                    description: The status of the response, always 'error' for error responses
                    example: error
                    type: string
                  timestamp:
                    description: The timestamp when the error occurred
                    example: "2024-03-15T10:30:00Z"
                    format: date-time
                    type: string
                  trace_id:
                    description: A unique identifier for tracing the error
                    example: b7c5e4d3-a2b1-4f0e-8d9c-1a2b3c4d5e6f
                    format: uuid
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
  /v3/authorization/permissions/audit:
    get:
      summary: Get permission audit trail
      description: Get the permission audit trail with optional filtering. Requires organization context.
      tags:
        - Authorization
      parameters:
        - name: action
          in: query
          required: false
          schema:
            example: grant
            type: string
        - name: limit
          in: query
          required: false
          schema:
            example: 50
            maximum: 100
            minimum: 1
            type: number
        - name: subject_id
          in: query
          required: false
          schema:
            example: f47ac10b-58cc-4372-a567-0e02b2c3d479
            format: uuid
            type: string
        - name: offset
          in: query
          required: false
          schema:
            example: 0
            minimum: 0
            type: number
        - name: subject_type
          in: query
          required: false
          schema:
            example: user
            type: string
        - name: start_date
          in: query
          required: false
          schema:
            example: "2024-01-16T21:45:33Z"
            type: string
        - name: resource_type
          in: query
          required: false
          schema:
            example: entity
            type: string
        - name: end_date
          in: query
          required: false
          schema:
            example: "2024-02-16T21:45:33Z"
            type: string
        - name: resource_id
          in: query
          required: false
          schema:
            example: 123e4567-e89b-12d3-a456-426614174000
            format: uuid
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                example:
                  entries:
                    - {}
                  total_count: 1
                properties:
                  entries:
                    example:
                      - {}
                    items:
                      example:
                        action: grant
                        id: 1
                        performed_at: "2024-02-16T21:45:33Z"
                        performed_by: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                        reason: Granting access for project collaboration
                        relation: viewer
                        resource: entity:123e4567-e89b-12d3-a456-426614174000
                        subject: user:f47ac10b-58cc-4372-a567-0e02b2c3d479
                      properties:
                        action:
                          example: grant
                          type: string
                        id:
                          example: 1
                          type: number
                        performed_at:
                          example: "2024-02-16T21:45:33.123456789Z"
                          type: string
                        performed_by:
                          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                          format: uuid
                          type: string
                        reason:
                          example: Granting access for project collaboration
                          maxLength: 500
                          minLength: 1
                          type: string
                        relation:
                          example: viewer
                          type: string
                        resource:
                          example: entity:123e4567-e89b-12d3-a456-426614174000
                          type: string
                        subject:
                          example: user:f47ac10b-58cc-4372-a567-0e02b2c3d479
                          type: string
                      required:
                        - id
                        - action
                      type: object
                    type: array
                  total_count:
                    example: 1
                    type: number
                required:
                  - entries
                  - total_count
                type: object
              example:
                entries:
                  - {}
                total_count: 1
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 400
                    type: number
                  details:
                    example:
                      - Field: organization_id
                        Issue: must be a valid UUID format
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: Request cannot be processed due to invalid input
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: req_2J9K8L7M6N5P4Q3R
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 401
                    type: number
                  details:
                    example:
                      - Field: authorization_header
                        Issue: Bearer token is expired or malformed
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: Authentication credentials are missing or invalid
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: req_2J9K8L7M6N5P4Q3R
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 403
                    type: number
                  details:
                    example:
                      - Field: required_scope
                        Issue: requires 'orion:settings:write' scope, but token only has 'orion:settings:read'
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: 'Access denied: insufficient permissions for this resource'
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: req_2J9K8L7M6N5P4Q3R
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 404
                    type: number
                  details:
                    example:
                      - Field: organization_id
                        Issue: organization with ID 'a1b2c3d4-e5f6-7890-abcd-ef1234567890' not found
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: The requested resource could not be found
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: req_2J9K8L7M6N5P4Q3R
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  category:
                    description: The category of the error
                    example: server_error
                    type: string
                  code:
                    description: The HTTP status code
                    example: "500"
                    type: number
                  details:
                    description: Additional details about the error
                    items:
                      properties:
                        field:
                          description: The field that caused the error
                          example: field_name
                          type: string
                        issue:
                          description: The specific issue with the field
                          example: Field validation issue
                          type: string
                      type: object
                    type: array
                  message:
                    description: A human-readable error message
                    example: Internal Server Error
                    type: string
                  status:
                    description: The status of the response, always 'error' for error responses
                    example: error
                    type: string
                  timestamp:
                    description: The timestamp when the error occurred
                    example: "2024-03-15T10:30:00Z"
                    format: date-time
                    type: string
                  trace_id:
                    description: A unique identifier for tracing the error
                    example: b7c5e4d3-a2b1-4f0e-8d9c-1a2b3c4d5e6f
                    format: uuid
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
  /v3/authorization/permissions/check:
    post:
      summary: Check permission
      description: Check if a subject has a specific permission. Requires organization context.
      tags:
        - Authorization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              example:
                relation: viewer
                resource: entity:123e4567-e89b-12d3-a456-426614174000
                subject: user:f47ac10b-58cc-4372-a567-0e02b2c3d479
              properties:
                relation:
                  example: viewer
                  type: string
                resource:
                  example: entity:123e4567-e89b-12d3-a456-426614174000
                  type: string
                subject:
                  example: user:f47ac10b-58cc-4372-a567-0e02b2c3d479
                  type: string
              type: object
            example:
              relation: viewer
              resource: entity:123e4567-e89b-12d3-a456-426614174000
              subject: user:f47ac10b-58cc-4372-a567-0e02b2c3d479
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                example:
                  allowed: true
                  from_cache: false
                  reason: Direct permission granted
                properties:
                  allowed:
                    example: true
                    type: boolean
                  from_cache:
                    example: false
                    type: boolean
                  reason:
                    example: Direct permission granted
                    type: string
                required:
                  - allowed
                  - from_cache
                type: object
              example:
                allowed: true
                from_cache: false
                reason: Direct permission granted
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 400
                    type: number
                  details:
                    example:
                      - Field: organization_id
                        Issue: must be a valid UUID format
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: Request cannot be processed due to invalid input
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: req_2J9K8L7M6N5P4Q3R
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 401
                    type: number
                  details:
                    example:
                      - Field: authorization_header
                        Issue: Bearer token is expired or malformed
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: Authentication credentials are missing or invalid
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: req_2J9K8L7M6N5P4Q3R
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 403
                    type: number
                  details:
                    example:
                      - Field: required_scope
                        Issue: requires 'orion:settings:write' scope, but token only has 'orion:settings:read'
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: 'Access denied: insufficient permissions for this resource'
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: req_2J9K8L7M6N5P4Q3R
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 404
                    type: number
                  details:
                    example:
                      - Field: organization_id
                        Issue: organization with ID 'a1b2c3d4-e5f6-7890-abcd-ef1234567890' not found
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: The requested resource could not be found
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: req_2J9K8L7M6N5P4Q3R
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  category:
                    description: The category of the error
                    example: server_error
                    type: string
                  code:
                    description: The HTTP status code
                    example: "500"
                    type: number
                  details:
                    description: Additional details about the error
                    items:
                      properties:
                        field:
                          description: The field that caused the error
                          example: field_name
                          type: string
                        issue:
                          description: The specific issue with the field
                          example: Field validation issue
                          type: string
                      type: object
                    type: array
                  message:
                    description: A human-readable error message
                    example: Internal Server Error
                    type: string
                  status:
                    description: The status of the response, always 'error' for error responses
                    example: error
                    type: string
                  timestamp:
                    description: The timestamp when the error occurred
                    example: "2024-03-15T10:30:00Z"
                    format: date-time
                    type: string
                  trace_id:
                    description: A unique identifier for tracing the error
                    example: b7c5e4d3-a2b1-4f0e-8d9c-1a2b3c4d5e6f
                    format: uuid
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
  /v3/authorization/permissions/check-bulk:
    post:
      summary: Check multiple permissions
      description: Check multiple permissions in a single operation. Requires organization context.
      tags:
        - Authorization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              example:
                checks:
                  - {}
              properties:
                checks:
                  example:
                    - {}
                  items:
                    example:
                      relation: viewer
                      resource: entity:123e4567-e89b-12d3-a456-426614174000
                      subject: user:f47ac10b-58cc-4372-a567-0e02b2c3d479
                    properties:
                      relation:
                        example: viewer
                        type: string
                      resource:
                        example: entity:123e4567-e89b-12d3-a456-426614174000
                        type: string
                      subject:
                        example: user:f47ac10b-58cc-4372-a567-0e02b2c3d479
                        type: string
                    type: object
                  type: array
              required:
                - checks
              type: object
            example:
              checks:
                - {}
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                example:
                  results:
                    - {}
                  total_count: 1
                properties:
                  results:
                    example:
                      - {}
                    items:
                      example:
                        allowed: true
                        from_cache: false
                        index: 0
                        reason: Direct permission granted
                      properties:
                        allowed:
                          example: true
                          type: boolean
                        from_cache:
                          example: false
                          type: boolean
                        index:
                          example: 0
                          type: number
                        reason:
                          example: Direct permission granted
                          type: string
                      required:
                        - index
                        - allowed
                        - reason
                        - from_cache
                      type: object
                    type: array
                  total_count:
                    example: 1
                    type: number
                required:
                  - results
                  - total_count
                type: object
              example:
                results:
                  - {}
                total_count: 1
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 400
                    type: number
                  details:
                    example:
                      - Field: organization_id
                        Issue: must be a valid UUID format
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: Request cannot be processed due to invalid input
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: req_2J9K8L7M6N5P4Q3R
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 401
                    type: number
                  details:
                    example:
                      - Field: authorization_header
                        Issue: Bearer token is expired or malformed
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: Authentication credentials are missing or invalid
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: req_2J9K8L7M6N5P4Q3R
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 403
                    type: number
                  details:
                    example:
                      - Field: required_scope
                        Issue: requires 'orion:settings:write' scope, but token only has 'orion:settings:read'
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: 'Access denied: insufficient permissions for this resource'
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: req_2J9K8L7M6N5P4Q3R
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 404
                    type: number
                  details:
                    example:
                      - Field: organization_id
                        Issue: organization with ID 'a1b2c3d4-e5f6-7890-abcd-ef1234567890' not found
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: The requested resource could not be found
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: req_2J9K8L7M6N5P4Q3R
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  category:
                    description: The category of the error
                    example: server_error
                    type: string
                  code:
                    description: The HTTP status code
                    example: "500"
                    type: number
                  details:
                    description: Additional details about the error
                    items:
                      properties:
                        field:
                          description: The field that caused the error
                          example: field_name
                          type: string
                        issue:
                          description: The specific issue with the field
                          example: Field validation issue
                          type: string
                      type: object
                    type: array
                  message:
                    description: A human-readable error message
                    example: Internal Server Error
                    type: string
                  status:
                    description: The status of the response, always 'error' for error responses
                    example: error
                    type: string
                  timestamp:
                    description: The timestamp when the error occurred
                    example: "2024-03-15T10:30:00Z"
                    format: date-time
                    type: string
                  trace_id:
                    description: A unique identifier for tracing the error
                    example: b7c5e4d3-a2b1-4f0e-8d9c-1a2b3c4d5e6f
                    format: uuid
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
  /v3/authorization/permissions/expand:
    post:
      summary: Expand permissions
      description: Find all subjects that have access to a resource. Requires organization context.
      tags:
        - Authorization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              example:
                limit: 25
                offset: 0
                relation: viewer
                resource: entity:123e4567-e89b-12d3-a456-426614174000
              properties:
                inheritance_source:
                  enum:
                    - direct
                    - inherited
                    - template
                  example: direct
                  type: string
                limit:
                  example: 50
                  maximum: 100
                  minimum: 1
                  type: number
                offset:
                  example: 0
                  minimum: 0
                  type: number
                relation:
                  example: viewer
                  type: string
                resource:
                  example: entity:123e4567-e89b-12d3-a456-426614174000
                  type: string
                subject_type:
                  example: user
                  type: string
              type: object
            example:
              limit: 25
              offset: 0
              relation: viewer
              resource: entity:123e4567-e89b-12d3-a456-426614174000
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                example:
                  direct_subjects:
                    - {}
                  organization_id: 123e4567-e89b-12d3-a456-426614174000
                  relation: viewer
                  resource: entity:123e4567-e89b-12d3-a456-426614174000
                  total_count: 1
                properties:
                  count:
                    example: 10
                    type: number
                  direct_subjects:
                    example:
                      - {}
                    items:
                      example:
                        granted_at: "2024-02-16T21:45:33Z"
                        granted_by: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                        relation: viewer
                        source: direct
                        subject: user:f47ac10b-58cc-4372-a567-0e02b2c3d479
                      properties:
                        granted_at:
                          example: "2024-02-16T21:45:33.123456789Z"
                          type: string
                        granted_by:
                          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                          format: uuid
                          type: string
                        relation:
                          example: viewer
                          type: string
                        source:
                          enum:
                            - direct
                            - inherited
                          example: direct
                          type: string
                        subject:
                          example: user:f47ac10b-58cc-4372-a567-0e02b2c3d479
                          type: string
                      required:
                        - source
                      type: object
                    type: array
                  has_more:
                    example: true
                    type: boolean
                  offset:
                    example: 0
                    type: number
                  organization_id:
                    example: 123e4567-e89b-12d3-a456-426614174000
                    format: uuid
                    type: string
                  relation:
                    example: viewer
                    type: string
                  resource:
                    example: entity:123e4567-e89b-12d3-a456-426614174000
                    type: string
                  total_count:
                    example: 25
                    type: number
                required:
                  - direct_subjects
                  - total_count
                  - count
                  - offset
                  - has_more
                type: object
              example:
                direct_subjects:
                  - {}
                organization_id: 123e4567-e89b-12d3-a456-426614174000
                relation: viewer
                resource: entity:123e4567-e89b-12d3-a456-426614174000
                total_count: 1
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 400
                    type: number
                  details:
                    example:
                      - Field: organization_id
                        Issue: must be a valid UUID format
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: Request cannot be processed due to invalid input
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: req_2J9K8L7M6N5P4Q3R
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 401
                    type: number
                  details:
                    example:
                      - Field: authorization_header
                        Issue: Bearer token is expired or malformed
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: Authentication credentials are missing or invalid
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: req_2J9K8L7M6N5P4Q3R
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 403
                    type: number
                  details:
                    example:
                      - Field: required_scope
                        Issue: requires 'orion:settings:write' scope, but token only has 'orion:settings:read'
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: 'Access denied: insufficient permissions for this resource'
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: req_2J9K8L7M6N5P4Q3R
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 404
                    type: number
                  details:
                    example:
                      - Field: organization_id
                        Issue: organization with ID 'a1b2c3d4-e5f6-7890-abcd-ef1234567890' not found
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: The requested resource could not be found
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: req_2J9K8L7M6N5P4Q3R
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  category:
                    description: The category of the error
                    example: server_error
                    type: string
                  code:
                    description: The HTTP status code
                    example: "500"
                    type: number
                  details:
                    description: Additional details about the error
                    items:
                      properties:
                        field:
                          description: The field that caused the error
                          example: field_name
                          type: string
                        issue:
                          description: The specific issue with the field
                          example: Field validation issue
                          type: string
                      type: object
                    type: array
                  message:
                    description: A human-readable error message
                    example: Internal Server Error
                    type: string
                  status:
                    description: The status of the response, always 'error' for error responses
                    example: error
                    type: string
                  timestamp:
                    description: The timestamp when the error occurred
                    example: "2024-03-15T10:30:00Z"
                    format: date-time
                    type: string
                  trace_id:
                    description: A unique identifier for tracing the error
                    example: b7c5e4d3-a2b1-4f0e-8d9c-1a2b3c4d5e6f
                    format: uuid
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
  /v3/authorization/permissions/grant:
    post:
      summary: Grant permissions
      description: Grant permissions to one or more subjects. Requires organization context.
      tags:
        - Authorization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              example:
                grants:
                  - {}
              properties:
                grants:
                  example:
                    - {}
                  items:
                    example:
                      reason: Granting access for project collaboration
                      relation: viewer
                      resource: entity:123e4567-e89b-12d3-a456-426614174000
                      subject: user:f47ac10b-58cc-4372-a567-0e02b2c3d479
                    properties:
                      reason:
                        example: Granting access for project collaboration
                        maxLength: 500
                        minLength: 1
                        type: string
                      relation:
                        example: viewer
                        type: string
                      resource:
                        example: entity:123e4567-e89b-12d3-a456-426614174000
                        type: string
                      subject:
                        example: user:f47ac10b-58cc-4372-a567-0e02b2c3d479
                        type: string
                    type: object
                  type: array
              required:
                - grants
              type: object
            example:
              grants:
                - {}
      responses:
        "201":
          description: Resource created successfully
          content:
            application/json:
              schema:
                example:
                  affected_count: 1
                  message: Successfully granted 1 permissions
                  success: true
                properties:
                  affected_count:
                    example: 1
                    type: number
                  message:
                    example: Successfully granted 1 permissions
                    type: string
                  success:
                    example: true
                    type: boolean
                required:
                  - success
                  - message
                  - affected_count
                type: object
              example:
                affected_count: 1
                message: Successfully granted 1 permissions
                success: true
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 400
                    type: number
                  details:
                    example:
                      - Field: organization_id
                        Issue: must be a valid UUID format
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: Request cannot be processed due to invalid input
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: req_2J9K8L7M6N5P4Q3R
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 401
                    type: number
                  details:
                    example:
                      - Field: authorization_header
                        Issue: Bearer token is expired or malformed
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: Authentication credentials are missing or invalid
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: req_2J9K8L7M6N5P4Q3R
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 403
                    type: number
                  details:
                    example:
                      - Field: required_scope
                        Issue: requires 'orion:settings:write' scope, but token only has 'orion:settings:read'
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: 'Access denied: insufficient permissions for this resource'
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: req_2J9K8L7M6N5P4Q3R
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                properties:
                  category:
                    type: string
                  code:
                    example: 404
                    type: number
                  details:
                    example:
                      - Field: organization_id
                        Issue: organization with ID 'a1b2c3d4-e5f6-7890-abcd-ef1234567890' not found
                    items:
                      properties:
                        field:
                          example: email
                          type: string
                        issue:
                          example: must be a valid email address
                          type: string
                      required:
                        - field
                        - issue
                      type: object
                    type: array
                  message:
                    example: The requested resource could not be found
                    type: string
                  status:
                    example: error
                    type: string
                  timestamp:
                    example: "2026-01-15T14:32:45Z"
                    type: string
                  trace_id:
                    example: req_2J9K8L7M6N5P4Q3R
                    type: string
                required:
                  - status
                  - code
                  - message
                  - category
                  - timestamp
                  - trace_id
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  category:
                    description: The category of the error
                    example: server_error
                    type: string
                  code:
                    description: The HTTP status code
                    example: "500"
                    type: number
                  details:
                    description: Additional details about the error
                    items:
                      properties:
                        field:
                          description: The field that caused the error
                          example: field_name
[...]
